@page "/chat"
@model udganketo.Pages.ChatModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation

<PageTitle>Chat</PageTitle>

<div class="form-group">
    <label>
        User:
        <input asp-for="UserInput" class="form-control" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input asp-for="MessageInput" size="50" class="form-control" />
    </label>
</div>
<button class="btn btn-primary" onclick="@(async () => await Model.OnPostSendAsync())" disabled="@(Model.IsConnected ? null : "disabled")">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in Model.Messages)
    {
        <li>@message</li>
    }
</ul>