@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>UDGANKETO</h1>
    <p>Hola!</p>
    <a asp-page="/Formulari">Crear Enquesta</a>
</div>
<div>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.title - @item.question</li>
            @foreach (var option in item.options)
            {
                <li>-@option.name = @option.votes</li>
            }
        }
    </ul>
</div>
