@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>UDGANKETO</h1>
    <p>Hola!</p>
    <a asp-page="/Formulari">Crear Enquesta</a>
</div>
<div>
    <ul>
        @foreach (var item in Model.Items)
        {
                <li><a asp-page="/Votacio" asp-route-id="@item.id">@item.title - @item.question</a></li>
        }
    </ul>
</div>
