@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>UDGANKETO</h1>
    <p>Hola!</p>
    <p>This is a test</p>
</div>
<div>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.Title - @item.Question</li>
            @foreach (var option in item.Options)
            {
                <li>-@option.name = @option.votes</li>
            }
        }
    </ul>
</div>
